@import "/src/styles/variables";
@import "/src/styles/mixins";

$blur-strength: 2px;

.container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  aspect-ratio: 3/2;

  .image {
    display: block;
    width: 100%;
    height: 100%;
    transition: linear $transitionMs;
    transition-property: filter, transform;
    transform: scale(1);
    filter: grayscale(0);

    &.grayscale {
      filter: grayscale(1) blur(0);
    }
  }

  &:hover {
    .image {
      overflow: hidden;
      transform: scale(1.1);
      filter: grayscale(0) blur($blur-strength);

      &.grayscale {
        filter: grayscale(1) blur($blur-strength);
      }
    }

    .miniModal {
      opacity: 1;
    }
  }

  .header {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75px;
    padding-left: 16px;
    background-color: $color-bg-black-transparent;

    p {
      width: 100%;
      text-transform: capitalize;
    }

    .title {
      font-size: 20px;
      color: white;
    }

    .subtitle {
      font-size: 14px;
      color: $color-gray;
    }
  }

  .miniModal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity linear $transitionMs;
    opacity: 0;

    span {
      font-size: 18px;
      padding: 16px 24px;
      color: white;
      border-radius: 8px;
      background-color: $color-bg-black-transparent;
    }
  }
}

@include onSmallMobile {
  .container .header {
    height: 50px;

    .subtitle {
      display: none;
    }
  }
}