@import "/src/styles/mixins";

.content {
  display: grid;
  gap: 16px;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@include onSmallTablet {
  .content .grid {
    grid-template-columns: 1fr;
  }
}