@import "src/styles/variables";
@import "src/styles/mixins";

.homeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;

  .left {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }

}

@include onMobile() {
  .homeHeader {
    flex-direction: column;
    justify-content: flex-end;
    height: 69px;
    gap: 8px;

    .btn {
      z-index: 0;
      width: 100%;
    }
  }

  .sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    border-bottom: $color-light-gray solid 1px;
    background-color: $color-bg-main;
  }
}